@charset "UTF-8";
/*
@include mqOuter(pc) {
*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "メイリオ", Meiryo, Arial,sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 10px; }

body {
  font-size: 1.4rem;
  line-height: 1.5;
  color: #333; }

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
  font-family: 'FontAwesome';
  src: url("fa/fontawesome-webfont.eot?v=4.7.0");
  src: url("fa/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("fa/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("fa/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("fa/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("fa/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

input[type=text]:focus {
  outline: 0; }

.com-list-aaa {
  display: block; }

.c-dwBtn:active {
  position: relative;
  top: 1px; }

body {
  background: #f0f0f0; }

.l-header {
  display: block; }

.l-bkBtn {
  border-radius: 30px;
  border: 2px solid #666;
  display: inline-block;
  cursor: pointer;
  color: #666;
  font-size: 14px;
  padding: 16px 31px;
  text-decoration: none;
  position: relative;
  padding-left: 40px;
  margin-bottom: 40px;
  margin-left: 10px; }

.l-bkBtn:before {
  position: absolute;
  left: 10px;
  top: 15px;
  content: "";
  width: 20px;
  height: 20px;
  background: url(../img/ico-bkbtn.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center; }

.l-bkBtn * {
  color: #666;
  font-weight: bold;
  text-decoration: none; }

.l-bkBtn:hover {
  color: #666; }

@media screen and (min-width: 981px) {
  .l-footer {
    min-width: 1024px;
    background: #666;
    color: #fff; }
  .l-footer-in {
    margin: 0 auto;
    text-align: left;
    padding: 25px 40px; }
  .l-footer-sv {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px; }
  .l-footer-sv dl {
    line-height: 1.5;
    margin-bottom: 15px; }
  .l-footer-sv dt, .l-footer-sv dd {
    margin-bottom: 15px; }
  .l-footer-sv dt {
    clear: left;
    float: left;
    margin-right: 2em;
    width: 8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .l-footer-sv dt, .l-footer-sv dt a {
    font-size: 1.3rem;
    font-weight: bold; }
  .l-footer-link {
    margin-bottom: 20px;
    text-align: center; }
  .l-footer-sv ul, .l-footer-sv li {
    display: inline;
    padding-right: 10px; }
  .l-footer-link li {
    display: inline;
    margin-right: 10px; }
  .l-footer a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem; }
  .l-copyright {
    text-align: center; } }

@media screen and (max-width: 980px) {
  .l-footer {
    background: #666;
    color: #fff;
    padding: 20px; }
  .l-footer-sv-site,
  .l-footer-sv-rel,
  .l-footer-link {
    display: none; }
  .l-copyright {
    text-align: center; } }

/*===============================
index layout
===============================*/
/*base layout*/
.c-sec {
  height: 100vh;
  display: flex;
  align-items: center; }

.c-sec > div {
  overflow: hidden;
  margin: 0 auto;
  width: 80vw;
  max-width: 1200px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  vertical-align: middle; }

.c-sec-txtBtnW {
  margin-right: 80px; }

.c-txt {
  width: 300px;
  line-height: 2;
  margin-bottom: 60px; }

.l-sec2 .c-txt {
  margin-top: 13vh; }

.c-txt img {
  vertical-align: middle;
  padding-right: 5px; }

.c-imgs img {
  width: 100px;
  height: auto; }

.c-btn a {
  display: inline-block;
  background: #c33;
  min-width: 300px;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none; }

/*img*/
.c-imgs {
  flex-grow: 1;
  max-width: 400px;
  position: relative;
  width: 400px;
  height: 300px;
  padding-top: 300px; }

.l-sec2 .c-imgs {
  width: 500px;
  height: 350px; }

.c-imgs .c-imgs-cell img {
  display: block;
  width: 100%;
  height: auto;
  vertical-align: middle; }

.l-scrolldown {
  position: fixed;
  bottom: 10px;
  left: calc(50% - 34px);
  width: 68px;
  height: 80px;
  z-index: 100;
  animation: scrollDown 0.8s ease-out -1s infinite alternate;
  transition: opacity 0.8s ease-out 0.3s;
  opacity: 1; }
  .l-scrolldown.is-none {
    opacity: 0; }
  .l-scrolldown img {
    position: absolute; }
  .l-scrolldown img:nth-child(2) {
    bottom: 20px; }
  .l-scrolldown img:nth-child(3) {
    bottom: 10px; }
  .l-scrolldown img:nth-child(4) {
    bottom: 0px; }

@keyframes scrollDown {
  0% {
    transform: translate(0, -15px); }
  100% {
    transform: translate(0, 0); } }

/*sec1*/
.l-sec1 .c-imgs-cell:nth-child(1) {
  position: absolute;
  top: 5%;
  left: 3%;
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 94px;
  height: 94px;
  background: #e2a767;
  padding: 10px; }

.l-sec1 .c-imgs-cell:nth-child(2) {
  position: absolute;
  bottom: 10%;
  left: calc(60% - 130px);
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  background: #98d3d8;
  padding: 20px; }

.l-sec1 .c-imgs-cell:nth-child(3) {
  position: absolute;
  top: 25px;
  right: 2%;
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  background: #e07a80;
  padding: 20px; }

.l-sec1 .c-imgs-cell:nth-child(1) img {
  padding-top: 10px; }

.l-sec1 .c-imgs-cell:nth-child(2) img {
  padding-top: 10px; }

.l-sec1 .c-imgs-cell:nth-child(3) img {
  padding-top: 20px; }

/*sec2*/
.l-sec2 .c-imgs-cell {
  display: none; }

.l-sec2 .c-imgs-cell:nth-child(1) {
  position: absolute;
  bottom: 0;
  left: 0px;
  display: block;
  text-align: center;
  width: 100px; }

.l-sec2 .c-imgs-cell:nth-child(2) {
  position: absolute;
  top: 25px;
  left: 20px;
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  background: #98d3d8;
  padding: 25px;
  padding-top: 15px; }

.l-sec2 .c-imgs-cell:nth-child(3) {
  position: absolute;
  bottom: 165px;
  left: 160px;
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  background: #ebe5d3;
  padding: 33px;
  padding-top: 15px; }

.l-sec2 .c-imgs-cell:nth-child(4) {
  position: absolute;
  bottom: 0;
  left: 235px;
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  background: #e8d4e7;
  padding: 30px;
  padding-top: 15px; }

.l-sec2 .c-imgs-cell:nth-child(1) img {
  padding-top: 10px; }

.l-sec2 .c-imgs-cell:nth-child(2) img {
  padding-top: 0px; }

.l-sec2 .c-imgs-cell:nth-child(3) img {
  padding-top: 0px; }

.l-sec2 .c-imgs-cell:nth-child(4) img {
  padding-top: 0px; }

/*sec3*/
.l-sec3 .c-imgs-cell:nth-child(1) {
  position: absolute;
  bottom: 120px;
  left: calc(50% - 47px);
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 94px;
  height: 94px;
  padding: 10px; }

.l-sec3 .c-imgs-cell:nth-child(2) {
  position: absolute;
  bottom: 150px;
  left: calc(50% - 95px);
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 90px;
  padding: 20px; }

.l-sec3 .c-imgs-cell:nth-child(3) {
  position: absolute;
  bottom: 96px;
  left: 50%;
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 40px; }

.l-sec3 .c-imgs-cell:nth-child(4) {
  position: absolute;
  bottom: 130px;
  left: calc(50% + 30px);
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 20px; }

/*sec4*/
.l-sec4 .c-imgs-cell:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 340px;
  z-index: 1;
  height: 100%; }

/*sec5*/
.l-sec5 .c-imgs-cell:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0px;
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 94px;
  height: 94px;
  background: #f5b496;
  padding: 10px; }

.l-sec5 .c-imgs-cell:nth-child(2) {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: #f2d299;
  padding: 20px; }

.l-sec5 .c-imgs-cell:nth-child(3) {
  position: absolute;
  top: 5px;
  left: 160px;
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  background: #98bdf4;
  padding: 20px; }

.l-sec5 .c-imgs-cell:nth-child(4) {
  position: absolute;
  bottom: 0px;
  left: 220px;
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 171px;
  height: 171px;
  background: #98d3d8;
  padding: 20px; }

.l-sec5 .c-imgs-cell:nth-child(1) img:nth-child(1) {
  width: 55px;
  position: absolute;
  top: 30px;
  left: 15px; }

.l-sec5 .c-imgs-cell:nth-child(1) img:nth-child(2) {
  width: 55px;
  position: absolute;
  top: 26px;
  left: 25px; }

.l-sec5 .c-imgs-cell:nth-child(2) img {
  padding-top: 10px; }

.l-sec5 .c-imgs-cell:nth-child(3) img {
  padding-top: 5px; }

.l-sec5 .c-imgs-cell:nth-child(4) img {
  padding-top: 20px; }

/*animation setting*/
/*sec4*/
.l-sec4-tree {
  position: relative;
  overflow: hidden;
  width: 340px;
  height: 300px;
  margin-left: 40px; }

.l-sec4-tree img {
  position: absolute; }

/*枝*/
.l-sec4-tree img {
  transform: scale(0);
  /*幹*/ }
  .l-sec4-tree img:nth-child(1) {
    bottom: 128px;
    right: 37px;
    transform-origin: 10% 50%; }
  .l-sec4-tree img:nth-child(2) {
    top: 137px;
    left: 47px;
    transform-origin: bottom right; }
  .l-sec4-tree img:nth-child(3) {
    top: 67px;
    left: 170px;
    transform-origin: bottom right; }
  .l-sec4-tree img:nth-child(4) {
    top: 44px;
    right: 46px;
    transform-origin: bottom left; }
  .l-sec4-tree img:nth-child(5) {
    top: 104px;
    right: 63px;
    transform-origin: bottom left; }
  .l-sec4-tree img:nth-child(6) {
    top: 39px;
    left: 146px;
    transform-origin: bottom right; }
  .l-sec4-tree img:nth-child(7) {
    top: 66px;
    left: 97px;
    transform-origin: bottom right; }
  .l-sec4-tree img:nth-child(8) {
    top: 82px;
    right: 64px;
    transform-origin: bottom left; }
  .l-sec4-tree img:nth-child(9) {
    bottom: 135px;
    left: 81px;
    transform-origin: bottom right; }
  .l-sec4-tree img:nth-child(10) {
    top: 26px;
    right: 88px;
    transform-origin: bottom left; }
  .l-sec4-tree img:nth-child(11) {
    top: 95px;
    left: 75px;
    transform-origin: bottom right; }
  .l-sec4-tree img:nth-child(12) {
    bottom: 9px;
    right: 87px;
    transform-origin: bottom left; }
  .l-sec4-tree img:nth-child(13) {
    bottom: 10px;
    right: 135px;
    transform-origin: bottom center; }
  .l-sec4-tree img:nth-child(14) {
    bottom: 10px;
    left: 76px;
    transform-origin: bottom right; }

/*sec5*/
.l-sec5 .l-sec5-imgBox {
  overflow: hidden;
  background: #efefef;
  position: relative;
  width: 400px;
  height: 300px; }

.l-sec5 .is-imgHidden .l-sec5-imgBox-cell {
  display: none !important; }

.l-sec5-imgBox-open-button {
  animation: sec5-1 0.5s ease-in 0.3s 3 alternate;
  transform-origin: 50% 50%; }
  .l-sec5-imgBox-open-button img {
    padding-top: 15px;
    width: 30px; }
  .l-sec5-imgBox-open-button > span {
    display: block;
    transform-origin: 50% 50%;
    width: 80px;
    height: 80px; }

.is-sec5-2 {
  /*最終バウンド*/
  animation: sec5-2 0.3s ease-out -0.1s 2 alternate; }

.is-sec5-3 {
  /*左右回転*/
  animation: sec5-3-2 1.5s ease-in 0s 1; }

.is-sec5-3 > span {
  /*左右移動*/
  animation: sec5-3-1 1.5s ease-in 0s 1; }

.is-sec5-4 {
  /*拡大*/
  animation: sec5-4 0.5s ease-in 0s 1 forwards;
  transform-origin: 50% 50%; }

.is-sec5-5 {
  /*縮小、フェードアウト*/
  animation: sec5-5 0.3s ease-in 0s 1 forwards; }

.l-sec5 .l-sec5-imgBox-open-button {
  background: #ffffff;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 200px;
  left: calc(50% - 40px);
  color: white;
  text-align: center;
  line-height: 80px;
  transform: translate3d(0, 0, 0);
  transition: all ease-out 200ms;
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer; }

.l-sec5 .l-sec5-imgBox-open {
  display: none; }

.l-sec5 .l-sec5-imgBox-cell {
  background: #e91e63;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 40px);
  color: white;
  text-align: center;
  line-height: 80px;
  transition: all ease-out 200ms;
  transition-duration: 180ms; }

.l-sec5-imgBox-open ~ .l-sec5-imgBox-cell:nth-child(3) {
  background: #f5b496; }

.l-sec5-imgBox-open ~ .l-sec5-imgBox-cell:nth-child(4) {
  background: #f2d299; }

.l-sec5-imgBox-open ~ .l-sec5-imgBox-cell:nth-child(5) {
  background: #98bdf4;
  width: 120px;
  height: 120px; }

.l-sec5-imgBox-open ~ .l-sec5-imgBox-cell:nth-child(6) {
  background: #98d3d8; }

.l-sec5 .is-animation .l-sec5-imgBox-open + .l-sec5-imgBox-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0); }

.l-sec5 .is-animation .l-sec5-imgBox-open ~ .l-sec5-imgBox-cell {
  transition-timing-function: ease-in;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  opacity: 1; }

.l-sec5 .is-animation .l-sec5-imgBox-open ~ .l-sec5-imgBox-cell:nth-child(3) {
  transition-duration: 280ms;
  transform: translate3d(-150px, -190px, 0) scale(1); }

.l-sec5 .is-animation .l-sec5-imgBox-open ~ .l-sec5-imgBox-cell:nth-child(4) {
  transition-duration: 380ms;
  transform: translate3d(-70px, -20px, 0) scale(1); }

.l-sec5 .is-animation .l-sec5-imgBox-open ~ .l-sec5-imgBox-cell:nth-child(5) {
  transition-duration: 480ms;
  transform: translate3d(40px, -160px, 0) scale(1); }

.l-sec5 .is-animation .l-sec5-imgBox-open ~ .l-sec5-imgBox-cell:nth-child(6) {
  transition-duration: 580ms;
  transform: translate3d(100px, -30px, 0) scale(1); }

.l-sec5 .l-sec5-imgBox-cell {
  transform: scale(0) translate3d(0, 0, 0);
  opacity: 0.3; }
  .l-sec5 .l-sec5-imgBox-cell:nth-child(3) {
    display: block;
    text-align: center;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    padding: 20px; }
  .l-sec5 .l-sec5-imgBox-cell:nth-child(4) {
    display: block;
    text-align: center;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    padding: 20px;
    left: calc(50% - 75px); }
  .l-sec5 .l-sec5-imgBox-cell:nth-child(6) {
    width: 100px;
    height: 100px; }
  .l-sec5 .l-sec5-imgBox-cell:nth-child(3) img {
    padding-top: 5px;
    width: 60px;
    height: auto;
    position: absolute;
    top: 40px;
    left: 15px; }
  .l-sec5 .l-sec5-imgBox-cell:nth-child(3) img + img {
    position: absolute;
    top: 20px;
    left: 38px; }
  .l-sec5 .l-sec5-imgBox-cell:nth-child(4) img {
    padding-top: 20px; }
  .l-sec5 .l-sec5-imgBox-cell:nth-child(5) img {
    padding-top: 20px;
    width: 80px;
    height: auto; }
  .l-sec5 .l-sec5-imgBox-cell:nth-child(6) img {
    padding-top: 25px;
    width: 70px;
    height: auto; }

/*検索窓*/
.l-sec6 {
  text-align: center;
  margin-bottom: 80px; }
  .l-sec6 p {
    width: auto;
    margin-bottom: 40px; }

.c-searchBox {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box; }
  .c-searchBox form {
    display: flex;
    justify-content: center; }
  .c-searchBox input[type=text] {
    transition: all 0.8s ease-out;
    width: 80%;
    padding: 10px;
    border-radius: 4px 0 0 4px;
    border: none;
    font-size: 20px; }
  .c-searchBox input[type=text]:focus {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
  .c-searchBox .c-btnSubmit {
    width: 15%;
    height: 35px;
    padding: 10px;
    background: #3067b4;
    color: #fff;
    text-align: center;
    border-radius: 0 4px 4px 0; }

.l-sideSearch-minBtn {
  position: fixed;
  right: 10px;
  bottom: 100px;
  z-index: 1;
  width: 46px;
  height: 46px;
  padding: 2px;
  border-radius: 46px;
  background: #3067b4;
  text-align: center;
  transition: all 0.3s ease-in-out; }
  .l-sideSearch-minBtn a {
    width: 42px;
    height: 42px;
    display: block;
    border-radius: 42px;
    border: #fff 2px solid;
    color: #fff;
    line-height: 38px;
    font-size: 20px; }

.l-sideSearch-box {
  position: fixed;
  right: 10px;
  bottom: 10px;
  transform: translate(600px, 0);
  width: 70%;
  max-width: 500px;
  min-width: 200px;
  border: #3067b4 3px solid;
  border-radius: 3px;
  background: #fff;
  text-align: center;
  padding: 20px;
  transition: all 0.3s ease-in-out; }
  .l-sideSearch-box form {
    display: flex;
    width: 100%;
    margin: 10px auto; }
  .l-sideSearch-box input[type=text] {
    background: #f0f0f0;
    transition: all 0.8s ease-out;
    border: none;
    border-radius: 3px 0 0 3px;
    padding: 10px;
    font-size: 20px;
    width: 85%; }
  .l-sideSearch-box input[type=text]:focus {
    opacity: 0.8; }
  .l-sideSearch-box .c-btnSubmit {
    background: #f0f0f0;
    border: none;
    border-radius: 0 3px 3px 0;
    padding: 12px;
    font-size: 20px;
    color: #5b5b5b; }

.l-sideSearch-closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 45px;
  line-height: 30px; }
  .l-sideSearch-closeBtn a {
    color: #5b5b5b; }

.is-opneSideSearch .l-sideSearch-box {
  transform: translate(0, 0); }

.is-opneSideSearch .l-sideSearch-minBtn {
  transform: translate(100px, 0); }

/*ページトップへ戻る*/
.l-pgTop {
  padding-bottom: 20px;
  height: 60px;
  padding-right: 20px; }
  .l-pgTop a {
    display: block;
    float: right;
    border-radius: 30px;
    border: 2px solid #666;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    width: 50px;
    height: 50px;
    padding-top: 15px;
    text-align: center;
    transition: all ease-out 200ms; }
    .l-pgTop a:hover {
      transform: translate3d(0, -10px, 0); }
  .l-pgTop img {
    transform: rotate(90deg); }

/*sec1*/
.is-pc .l-sec1 .c-imgs-cell:nth-child(1) {
  -webkit-animation: animeSec1-1 0.5s ease-in-out 0.5s 1 forwards;
  transform: scale(0);
  animation: animeSec1-1 0.5s ease-in-out 0.5s 1 forwards;
  transform: scale(0); }

.is-pc .l-sec1 .c-imgs-cell:nth-child(2) {
  -webkit-animation: animeSec1-1 0.5s ease-in-out 1s 1 forwards;
  transform: scale(0);
  animation: animeSec1-1 0.5s ease-in-out 1s 1 forwards;
  transform: scale(0); }

.is-pc .l-sec1 .c-imgs-cell:nth-child(3) {
  -webkit-animation: animeSec1-1 0.5s ease-in-out 0s 1 forwards;
  transform: scale(0);
  animation: animeSec1-1 0.5s ease-in-out 0s 1 forwards;
  transform: scale(0); }

.is-pc .l-sec1 .c-txt, .is-pc .l-sec1 .c-btn {
  -webkit-animation: animeSec1-2 1s ease-in-out 0.3s 1 forwards;
  opacity: 0;
  animation: animeSec1-2 1s ease-in-out 0.3s 1 forwards;
  opacity: 0; }

@keyframes animeSec1-1 {
  0% {
    transform: scale(0); }
  80% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

@keyframes animeSec1-2 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*sec2*/
.is-pc .l-sec2 .c-imgs-cell:nth-child(1) {
  transform: scale(1); }

.is-pc .l-sec2 .c-imgs-cell:nth-child(2) {
  transform: scale(0); }

.is-pc .l-sec2 .c-imgs-cell:nth-child(3) {
  transform: scale(0);
  transition: all 0.5s ease-in-out 0.4s; }

.is-pc .l-sec2 .c-imgs-cell:nth-child(4) {
  transform: scale(0);
  transition: all 0.5s ease-in-out 0.5s; }

.is-pc .l-sec2.is-show .c-imgs-cell:nth-child(1) {
  transform: scale(1); }

.is-pc .l-sec2.is-show .c-imgs-cell:nth-child(2) {
  -webkit-animation: animeSec2-2 3s ease-in-out 0s infinite normal;
  animation: animeSec2-2 3s ease-in-out 0s infinite normal; }

.is-pc .l-sec2.is-show .c-imgs-cell:nth-child(3) {
  -webkit-animation: animeSec2-3 3s ease-in-out 0.5s infinite normal;
  animation: animeSec2-3 3s ease-in-out 0.5s infinite normal; }

.is-pc .l-sec2.is-show .c-imgs-cell:nth-child(4) {
  -webkit-animation: animeSec2-4 3s ease-in-out 1s infinite normal;
  animation: animeSec2-4 3s ease-in-out 1s infinite normal; }

@keyframes animeSec2-2 {
  0% {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0); }
  100% {
    -webkit-transform: scale(0.5) translate3d(-70px, 380px, 0);
    transform: scale(0.5) translate3d(-70px, 380px, 0);
    opacity: 0; } }

@keyframes animeSec2-3 {
  0% {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0); }
  100% {
    -webkit-transform: scale(0.5) translate3d(-350px, 350px, 0);
    transform: scale(0.5) translate3d(-350px, 350px, 0);
    opacity: 0; } }

@keyframes animeSec2-4 {
  0% {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0); }
  100% {
    -webkit-transform: scale(0.5) translate3d(-500px, 20px, 0);
    transform: scale(0.5) translate3d(-500px, 20px, 0);
    opacity: 0; } }

/*sec3*/
.is-pc .l-sec3 .c-imgs-cell:nth-child(1) {
  transform: scale(0); }

.is-pc .l-sec3 .c-imgs-cell:nth-child(2) {
  opacity: 0; }

.is-pc .l-sec3 .c-imgs-cell:nth-child(3) {
  opacity: 0; }

.is-pc .l-sec3 .c-imgs-cell:nth-child(4) {
  opacity: 0; }

.is-pc .l-sec3.is-show .c-imgs-cell:nth-child(1) {
  -webkit-animation: animeSec3-1 0.5s ease-in-out 0.5s 1 forwards;
  animation: animeSec3-1 0.5s ease-in-out 0.5s 1 forwards; }

.is-pc .l-sec3.is-show .c-imgs-cell:nth-child(2) {
  -webkit-animation: animeSec3-2 1s ease-in-out 1.3s infinite alternate;
  animation: animeSec3-2 1s ease-in-out 1.3s infinite alternate; }

.is-pc .l-sec3.is-show .c-imgs-cell:nth-child(3) {
  -webkit-animation: animeSec3-2 1s ease-in-out 1.7s infinite alternate;
  animation: animeSec3-2 1s ease-in-out 1.7s infinite alternate; }

.is-pc .l-sec3.is-show .c-imgs-cell:nth-child(4) {
  -webkit-animation: animeSec3-2 1s ease-in-out 2.1s infinite alternate;
  animation: animeSec3-2 1s ease-in-out 2.1s infinite alternate; }

@keyframes animeSec3-1 {
  0% {
    transform: scale(0) translate(0, 50px); }
  70% {
    transform: scale(1) translate(0, -50px); }
  100% {
    transform: scale(1) translate(0, 0px); } }

@keyframes animeSec3-2 {
  0% {
    transform: rotateY(0deg);
    opacity: 1; }
  100% {
    transform: rotateY(180deg); } }

.is-pc .l-sec4-tree img {
  /*幹*/ }
  .is-pc .l-sec4-tree img:nth-child(1) {
    transition: all 0.7s ease-in-out 1.2s; }
  .is-pc .l-sec4-tree img:nth-child(2) {
    transition: all 0.7s ease-in-out 1.4s; }
  .is-pc .l-sec4-tree img:nth-child(7) {
    transition: all 0.7s ease-in-out 1.6s; }
  .is-pc .l-sec4-tree img:nth-child(9) {
    transition: all 0.7s ease-in-out 1.7s; }
  .is-pc .l-sec4-tree img:nth-child(10) {
    transition: all 0.7s ease-in-out 1.8s; }
  .is-pc .l-sec4-tree img:nth-child(11) {
    transition: all 0.8s ease-in-out 2s; }
  .is-pc .l-sec4-tree img:nth-child(3) {
    transition: all 0.8s ease-in-out 2.7s; }
  .is-pc .l-sec4-tree img:nth-child(4) {
    transition: all 0.8s ease-in-out 2.6s; }
  .is-pc .l-sec4-tree img:nth-child(5) {
    transition: all 0.8s ease-in-out 2.3s; }
  .is-pc .l-sec4-tree img:nth-child(6) {
    transition: all 0.8s ease-in-out 3s; }
  .is-pc .l-sec4-tree img:nth-child(8) {
    transition: all 0.8s ease-in-out 3.1s; }
  .is-pc .l-sec4-tree img:nth-child(12) {
    transition: all 0.5s ease-in-out 0.5s; }
  .is-pc .l-sec4-tree img:nth-child(13) {
    transition: all 0.5s ease-in-out 0.8s; }
  .is-pc .l-sec4-tree img:nth-child(14) {
    transition: all 0.5s ease-in-out 1s; }

.is-pc .is-show .l-sec4-tree img {
  transform: scale(1); }

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0); }

@keyframes sec5-1 {
  0% {
    transform: translate(0, -100px); }
  100% {
    transform: translate(0, 0); } }

@keyframes sec5-2 {
  0% {
    transform: translate(0, 0px); }
  100% {
    transform: translate(0, -40px); } }

@keyframes sec5-3-1 {
  0% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(-45deg); }
  80% {
    transform: rotate(45deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes sec5-3-2 {
  0% {
    transform: translate(0, 0); }
  20% {
    transform: translate(-50px, 0); }
  80% {
    transform: translate(50px, 0); }
  100% {
    transform: translate(0, 0); } }

@keyframes sec5-4 {
  0% {
    transform: scale(1); }
  60% {
    transform: scale(0.8); }
  100% {
    transform: scale(1.3);
    opacity: 1; } }

@keyframes sec5-5 {
  0% {
    transform: scale(1.3);
    opacity: 1; }
  100% {
    transform: scale(0);
    opacity: 0; } }

@media screen and (max-width: 980px) {
  .c-sec > div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative; }
  .c-imgs,
  .l-sec4-tree,
  .l-sec5 .l-sec5-imgBox {
    order: 2;
    float: none;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    bottom: 70px; }
  .l-sec2 .c-imgs {
    width: 100%;
    -webkit-transform: scale(0.8); }
  .l-sec2 .c-imgs-cell {
    display: block; }
  .l-sec2 .c-imgs-cell:nth-child(5) {
    position: absolute;
    bottom: -15px;
    left: 100px;
    display: block;
    text-align: center;
    width: 130px;
    height: 130px;
    padding: 20px; }
  .l-sec2 .c-imgs-cell:nth-child(6) {
    position: absolute;
    bottom: 70px;
    left: 80px;
    display: block;
    text-align: center;
    width: 130px;
    height: 130px;
    padding: 20px;
    transform: rotate(-40deg); }
  .l-sec2 .c-imgs-cell:nth-child(7) {
    position: absolute;
    top: 33%;
    left: 0px;
    display: block;
    text-align: center;
    width: 130px;
    height: 130px;
    padding: 20px;
    transform: rotate(-70deg); }
  .l-sec2 .c-imgs-cell:nth-child(5) img {
    padding-top: 20px; }
  .l-sec2 .c-imgs-cell:nth-child(6) img {
    padding-top: 20px; }
  .l-sec2 .c-imgs-cell:nth-child(7) img {
    padding-top: 20px; }
  .l-sec5 .c-imgs {
    -webkit-transform: scale(0.8); }
  .c-sec-txtBtnW {
    order: 1;
    margin-right: 0; }
  .c-txt {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    margin-bottom: 300px; }
  .c-btn {
    margin: 0 auto;
    width: 100%;
    padding-top: 40px; }
  .c-btn ul {
    text-align: center; }
  .l-sec4-tree {
    width: 340px;
    height: 300px;
    margin-left: 50px;
    background: url(../img/img_sec4_sm.png) no-repeat center center; }
    .l-sec4-tree * {
      display: none; }
  .l-sec5 .l-sec5-imgBox .l-sec5-imgBox-open-button {
    display: none; }
  .l-sec5 .l-sec5-imgBox .l-sec5-imgBox-cell {
    transform: scale(1);
    opacity: 1; }
  .l-sec5-imgBox-open ~ .l-sec5-imgBox-cell:nth-child(3) {
    transform: translate3d(-130px, -190px, 0) scale(1); }
  .l-sec5-imgBox-open ~ .l-sec5-imgBox-cell:nth-child(4) {
    transform: translate3d(-70px, -20px, 0) scale(1); }
  .l-sec5-imgBox-open ~ .l-sec5-imgBox-cell:nth-child(5) {
    transform: translate3d(40px, -160px, 0) scale(1); }
  .l-sec5-imgBox-open ~ .l-sec5-imgBox-cell:nth-child(6) {
    transform: translate3d(100px, -30px, 0) scale(1); } }

.l-header {
  width: 100%;
  background: #fff;
  margin-bottom: 40px;
  text-align: center;
  border-bottom: 1px solid #d8d8d8; }

.l-header-title {
  padding: 10px;
  display: inline-block; }

.l-header-title img {
  vertical-align: bottom; }

.l-header-title span {
  line-height: 41px;
  padding-left: 10px; }

.l-secMain {
  background: #e5e5e5; }

.l-direct-txt {
  text-align: center;
  padding-left: 10px; }

/*ダイレクト用カード*/
.l-direct-cardBoxWrap {
  width: 90%;
  margin: 40px auto;
  overflow: hidden; }

.l-direct-cardBox {
  display: flex;
  flex-wrap: wrap; }

.c-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  float: left;
  width: calc(20% - 20px);
  background: #fff;
  border: 1px solid #eee;
  border-bottom: 2px solid #e4e2dc;
  border-radius: 5px;
  margin: 10px;
  padding: 15px 10px; }

.c-card-ttl {
  text-align: center; }

@media screen and (min-width: 1101px) and (max-width: 1300px) {
  .c-card {
    width: calc(25% - 20px); } }

@media screen and (min-width: 981px) and (max-width: 1100px) {
  .c-card {
    width: calc(33% - 20px); } }

.c-card-ttl {
  padding: 0 0 10px 0;
  border-bottom: #efefef 1px solid; }

.c-card-ttl-icon {
  vertical-align: bottom; }

.c-card-ttl-txt {
  font-size: 1.6rem;
  vertical-align: middle;
  line-height: 30px;
  padding-left: 10px; }

.c-card-txt {
  margin-top: 20px;
  margin-bottom: 20px; }

.c-card-more-search {
  border: 1px solid #ccc;
  color: #666;
  padding: 0;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  font-size: 1.2rem;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  margin-top: auto; }
  .c-card-more-search span:first-child {
    background: #fff;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
    min-width: 5em;
    padding: 7px 10px;
    text-align: left;
    flex-grow: 1; }
  .c-card-more-search span:last-child {
    background: #3067b4;
    border-radius: 0 4px 4px 0;
    color: #fff;
    padding: 7px;
    text-align: left;
    width: 55px;
    text-align: center; }
    .c-card-more-search span:last-child svg {
      padding-right: 5px; }

/*クローラーについて*/
@media screen and (min-width: 981px) {
  .l-crawler-nav {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center; }
    .l-crawler-nav a {
      padding: 20px;
      text-decoration: none;
      color: #333;
      border: 2px solid #666;
      display: inline-block;
      cursor: pointer;
      font-size: 14px;
      padding: 16px 31px;
      border-radius: 30px;
      margin: 0 10px;
      transition: background 300ms 0s ease; }
    .l-crawler-nav a:hover {
      color: #666;
      background: rgba(255, 255, 255, 0.6); }
    .l-crawler-nav a:active {
      color: #666;
      position: relative;
      top: 1px; } }

.l-second-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 40px; }

.l-crawler-txt {
  text-align: center; }

.l-crawler-card {
  margin: 40px;
  background: #fff;
  padding: 40px;
  word-break: break-all; }

.l-crawler-card-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0 10px 20px;
  border: 0; }

.l-crawler-card-list {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 20px; }

.l-crawler-card-dis h4 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px; }

.l-crawler-card-dis h5 {
  font-weight: bold;
  margin-bottom: 20px; }

.l-crawler-card-dis p {
  margin-bottom: 20px; }

.l-crawler-card-dis p.c-mbLong {
  margin-bottom: 40px; }

@media screen and (min-width: 981px) {
  .l-topics-card h2 {
    float: right;
    width: calc(100% - 10em); }
  .l-topics-day {
    width: 10em;
    float: left; }
  .l-topics-card:after {
    right: 20px;
    top: 16px; } }

.l-topics-card {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background: #fff;
  width: 96%;
  text-align: left;
  padding: 20px;
  border-bottom: 1px solid #d8d8d8;
  cursor: pointer;
  transition: color 0.3s ease-out; }

.l-topics-card:last-of-type {
  margin-bottom: 40px; }

.l-topics-card:hover {
  color: #999; }

.l-topics-card:after {
  position: absolute;
  font-family: "FontAwesome";
  font-size: 2rem;
  content: "\f105";
  transform: rotate(90deg);
  transition: transform 0.3s ease-out; }

.is-act.l-topics-card:after {
  transform: rotate(-90deg); }

.l-topics-card-txtBox {
  height: 0;
  overflow: hidden; }

.is-act.l-topics-card {
  display: block;
  padding: 40px; }

.is-act.l-topics-card h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5px;
  float: none; }

.is-act .l-topics-day {
  color: #999;
  text-align: center;
  display: block;
  float: none;
  margin: 0 auto; }

.is-act .l-topics-card-txtBox {
  padding-top: 40px;
  height: auto; }

.l-topics-card p,
.l-topics-card img {
  margin-bottom: 10px; }

.l-topics-cap {
  margin-bottom: 30px; }

.l-other-card-usebtn {
  margin-top: auto;
  background: #3067b4;
  border-radius: 4px;
  color: #fff;
  text-align: left;
  text-align: center;
  display: inline-block;
  width: 100%; }
  .l-other-card-usebtn a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 7px; }

@media screen and (min-width: 981px) {
  .l-other-lcards {
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-width: 1000px;
    min-width: 750px; }
  .l-other-card {
    width: 30%; }
  .l-other-scards {
    width: 96%;
    margin: 0 auto;
    max-width: 1350px;
    min-width: 750px;
    margin-bottom: 40px;
    margin-top: 60px; }
  .l-other-cards {
    margin-bottom: 20px;
    margin-left: 20px;
    max-width: 200px; }
    .l-other-cards img {
      width: 30px;
      height: auto; }
  .l-other-cards:after {
    position: absolute;
    right: 15px;
    top: 8px;
    font-family: "FontAwesome";
    font-size: 2rem;
    content: "\f105"; }
  .l-other-lcards {
    margin: 0 auto; }
    .l-other-lcards h4 img {
      padding-right: 10px;
      width: 45px; } }

.l-other-card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: #fff;
  padding: 40px;
  margin-bottom: 40px; }
  .l-other-card h3 {
    margin-bottom: 10px;
    vertical-align: baseline;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center; }
    .l-other-card h3 img {
      padding-right: 5px;
      width: 35px;
      vertical-align: middle; }
  .l-other-card p {
    margin-bottom: 40px; }

.l-other-scards h3 {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin-bottom: 20px; }

.l-other-cards {
  display: inline-block;
  position: relative;
  width: calc(50% - 10px);
  background: #fff; }
  .l-other-cards a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333; }
  .l-other-cards h4 {
    vertical-align: middle; }
    .l-other-cards h4 img {
      vertical-align: middle;
      margin-right: 10px; }

@media screen and (max-width: 980px) {
  /*direct*/
  .l-crawler-txt,
  .l-direct-txt {
    padding: 0 20px; }
  .c-card {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px; }
  /*crawler*/
  .l-crawler-nav {
    padding-top: 20px; }
    .l-crawler-nav a {
      text-decoration: none;
      text-align: center;
      width: 100%;
      padding: 10px;
      display: block;
      color: #333; }
      .l-crawler-nav a:after {
        font-family: 'FontAwesome';
        content: "\f078";
        padding-left: 10px; }
  .l-crawler-card {
    margin: 20px;
    padding: 20px; }
  /*other*/
  .l-other-cards {
    width: 100%;
    margin: 0; }
    .l-other-cards a {
      padding: 10px 5px;
      border-bottom: #f0f0f0 5px solid; }
    .l-other-cards h4 img {
      padding-right: 5px;
      width: 25px; }
  .l-other-card {
    width: calc(100% - 40px); }
  .l-other-scards {
    width: calc(100% - 40px);
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 60px; }
  .l-other-cards {
    width: calc(50% - 5px); }
  /*update*/
  .l-topics-card:after {
    left: calc(50% - 1rem);
    bottom: -2px; } }


  .top-search {
    position: absolute;
    right: 20px;
    top: 10px;
  }
